.menu-inicio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    width: 300px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    cursor: pointer;
    transition: 500ms all;
}

.box span {
    font-size: 80px;
}

.box p {
    color: white;
    font-size: 26px;
}

.rojo {background-color: #d9534f;}
.rojo:hover  {background-color: #e45954;}
.rojo span {color: #c54b47;}
.verde {background-color: #5cb85c;}
.verde:hover {background-color: #60c360;}
.verde span {color: #509e50;}
.azul {background-color: #428bca;}
.azul:hover {background-color: #428bca;}
.azul span {color: #3a7ab3;}

.titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo span{
    font-size: 20px;
}

.formulario{
    padding: 20px 20px 40px;
}
